nav .active {
  position: relative;
  color: var(--blue); }
  nav .active:before {
    content: '';
    position: absolute;
    background-color: var(--blue);
    border-radius: 3px;
    top: auto;
    bottom: -26px;
    left: 0;
    right: 0;
    width: auto;
    height: 2px; }

.box {
  display: inline-block;
  height: 75px;
  width: 75px;
  text-align: center;
  line-height: 92px;
  border-radius: 8px;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

.fa-2x-plus {
  font-size: 2.5em !important; }

.unset-height {
  height: unset; }

.c-shadow {
  box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07); }
